<div class="contact-form">
<h1>Contact form</h1>
<form>
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Message</mat-label>
    <textarea matInput placeholder="Leave a message..."></textarea>
  </mat-form-field>
</form>
</div>
