<div class="row footer">
  <div class="col-xs">
    <div class="box">
      <h3 class="footer-title">Products</h3>
      <ul>
        <li><a href="#">New products</a></li>
        <li>Offers</li>
        <li>Trending</li>
      </ul>
    </div>
  </div>
  <div class="col-xs">
    <div class="box">
      <h3 class="footer-title">
        <a routerLink="/about">About My Store</a>
      </h3>
      <ul>
        <li>About us</li>
        <li>Locations</li>
      </ul>
    </div>
  </div>
  <div class="col-xs">
    <div class="box">
      <a routerLink="/contact"><h3 class="footer-title">Contact us</h3></a>
      <mat-form-field>
        <input matInput [formControl]="emailField" type="email" placeholder="Write your email">
      </mat-form-field>
      <button mat-raised-button [disabled]="emailField.invalid" (click)="sendMail()">Send</button>
    </div>
  </div>
</div>