.footer {
  background-color: #673ab7;
  min-height: 30px;
  padding: 40px 20px;
  margin-top: 35px;

  h3.footer-title {
    color: white;
    font-weight: bold;
    margin: 3px;
  }

  a {
    color: white;
    text-decoration-line: none;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 3px;
    color: white;
  }

  input {
    color: white;
  }
}