<div class="row center-xs">
  <div class="col-xs-6">
    <div class="box">
      <h1>About My Store</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consequat iaculis suscipit. Quisque pellentesque consequat arcu, eget fringilla ex ultrices ut. Vestibulum vulputate nulla et purus vehicula eleifend. Nam mattis convallis gravida. Nulla molestie porttitor risus, et lobortis risus consectetur in. Nulla tincidunt ac augue ac cursus. Nunc sagittis ante non ante ornare maximus. In bibendum fermentum molestie. Etiam mattis efficitur efficitur. Pellentesque quam felis, aliquet ut nisi vitae, placerat rhoncus enim. In tempus ultricies malesuada. Duis pharetra finibus augue, nec finibus enim facilisis in. Ut quis turpis sed enim sollicitudin faucibus sed sit amet magna. Fusce tincidunt lectus erat, sed sodales massa elementum vel.</p>
    </div>
  </div>
</div>
